<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contact - Fosholi-1</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#">Fosholi</a><button class="navbar-toggler"
                data-toggle="collapse" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="field-agent.html">Register farmer</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="field-agent-survey.html">Survey</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="field-agent-dashboard.html">Contact</a></li>
                        </ul>
            </div>
        </div>
    </nav>

    <section class="agent-survey">

        <div class="container dash-block p-5">
            <h2 class="text-center py-4">Survey form</h2>

            <form>

                <div class="form-group"><label for="name">Farmer id</label><input class="form-control item" type="text"
                        id="name"></div>
                <div class="form-group"><label for="name">Season id</label><input class="form-control item" type="text"
                        id="name"></div>
                <div class="form-group"><label for="name">Area of farmed land</label><input class="form-control item"
                        type="text" id="name"></div>
                <div class="form-group"><label for="name">Farmed Crop</label><input class="form-control item"
                        type="text" id="name"></div>
                <div class="form-group"><label for="name">Crop type</label><input class="form-control item" type="text"
                        id="name"></div>
                <div class="form-group"><label for="name">Estimated crop</label><input class="form-control item"
                        type="number" id="name"></div>
                <div class="form-group"><label for="name">Farming start date</label><input class="form-control item"
                        type="date" id="name"></div>
                <div class="form-group"><label for="name">Estimated date</label><input class="form-control item"
                        type="date" id="name"></div>

            </form>

            <div class="form-group"><button class="btn btn-success btn-block btn-lg" type="submit">Submit
                    Survey</button></div>

        </div>

        </div>

    </section>


    </section>