{% extends 'base-FA.html' %}

{% block content %}

    <section class="faremer-reigstration">
        <div class="container dash-block">
            <h2 class="text-center py-4">Register farmer</h2>
            <div class="row m-3">
                <div class="col-md-6">
                    <h3>Farmer personal details</h3>
                    <form action="">
                            <div class="form-group"><label for="name">Farmer id</label><input class="form-control item" type="text" id="name"></div>
                            <div class="form-group"><label for="name">Farmer password</label><input class="form-control item" type="text" id="name"></div>
                            <div class="form-group"><label for="name">Farmer name</label><input class="form-control item" type="text" id="name"></div>
                            <div class="form-group"><label for="subject">Farmer phone no</label><input class="form-control item" type="text" id="subject"></div>
                            <div class="form-group"><label for="subject">Farmer address</label><input class="form-control item" type="text" id="subject"></div> 
                            <div class="form-group"><label for="subject">Union</label><input class="form-control item" type="text" id="subject"></div>
                            <div class="form-group"><label for="subject">Upazilla</label><input class="form-control item" type="text" id="subject"></div>
                            <div class="form-group"><label for="subject">District</label><input class="form-control item" type="text" id="subject"></div>
                    

                </div>
                <div class="col-md-6">
                    <h3>Land details</h3>
                    
                    <div class="form-group"><label for="name">Land address</label><input class="form-control item" type="text" id="name"></div>
                    <div class="form-group"><label for="name">Union</label><input class="form-control item" type="text" id="name"></div>
                    <div class="form-group"><label for="name">Upazilla</label><input class="form-control item" type="text" id="name"></div>
                    <div class="form-group"><label for="name">District</label><input class="form-control item" type="text" id="name"></div>
                    <div class="form-group"><label for="name">Total land area</label><input class="form-control item" type="number" id="name"></div>
                   </div>
                <div class="form-group"><button class="btn btn-success btn-block btn-lg mx-auto" type="submit">Submit</button></div>
            </div>

        </div>

    </section>
{% endblock %}