{% extends 'base-FA.html' %}
{%  load crispy_forms_tags  %}

{% block content %}

    <section class="faremer-reigstration">
        <div class="container dash-block">
            <h2 class="text-center py-1">Register farmer</h2>


                    <h3>Farmer personal details</h3>
                    <form method="POST">

                          <h3>Add new farmer</h3>
                        {% if messages %}
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        {% endif %}
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-success btn-block btn-lg mx-auto" type="submit" value="submit">
                    </form>
        <!--<li class="nav-item" role="presentation"><a class="nav-link" href="{#% url 'add_survey' %#}">Farmer List</a></li>
-->

        </div>

    </section>
{% endblock %}