body{
  padding-top: 100px;
  background: #F4F6F9 !important;
}
.gradient {
  background: linear-gradient(120deg,green,#3BC47D);
  color: #fff;
}

.heading{
  margin-bottom:40px !important;
}
.portfolio-block {
  padding-bottom: 60px;
  padding-top: 20px;

}
.dash-block{
  box-shadow: 0 2px 10px rgba(0,0,0,.1);
  background: #fff;
  padding: 20px;

}
.dash-block-wrapper{
  padding:0px 20px;
}
.dash-block-h{
  box-shadow: 0 2px 10px rgba(0,0,0,.1);
  background: #fff;
  padding: 20px;

}
.dash-block-h:hover{
  color:#fff;
  background:#1BA345;
}
.dash-block-wrapper a{
  color:#212529;
}
.dash-block-wrapper a:hover{
    text-decoration:none;
}
.dash-summary{
    display: flex;
    justify-content: space-around;
}


