{% extends 'base.html' %}

{% block content %}
    <main class="page contact-page">
        <section class="portfolio-block contact">
            <div class="container">
 
                <form method="post" action="login_pg">
                    {% csrf_token %}
                        <div class="heading">
                                <h2>Log In</h2>
                            </div>
                    <div class="form-group"><label for="name">User Id</label><input class="form-control item" type="text" name="user_id" id="name" required></div>
                    <div class="form-group"><label for="subject">Password</label><input class="form-control item" type="text" name="user_password" id="subject" required></div>
                    <div class="form-group"><label for="subject">User role</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="actor">
                                <option value="farmer">Farmer</option>
                                <option value="fieldAgent">Field Agent</option>
                                <option value="uno">UNO</option>
                                <option value="upc">Upazilla Chairman</option>
                                <option value="dc">DC</option>
                                <option value="miller">Mill owner</option>
                              </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block btn-lg" type="submit" value="Log In">Log In</button>
                    </div>
                    {% if messages %}
                        <ul class="messages text-center">
                       {% for msg in messages %}
                    <div class="alert alert-success">
                        <a class="close" href="#" data-dismiss="alert"></a>
                        {{ msg}}
                    </div>
                            {% endfor %}
                        </ul>
                {% endif %}

                   <!-- <a class="text-danger text-center" href="#"><p>Forgot password ?</p></a> -->
                </form>
                
            </div>
        </section>
    </main>



{% endblock %}
  