{% extends 'base-uno.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
        <div class="dash-block">

            <h2 class="text-center my-4">Field agents</h2>

            <div class="container">
                <table class="table table-striped">
                {% csrf_token %}
                    <thead>
                        <tr>
                            <th scope="col">Agent id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Address</th>
                            <th scope="col">Email</th>
                            <th scope="col">Password</th>
                            <th scope="col">NID</th>
                            <th scope="col">Farmer Under Obs.</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                   <tbody>
                   {% for allFa in agentList %}
                   <tr>
                        <td>{{ allFa.fa_id }}</td>
                        <td>{{ allFa.fa_name }}</td>
                        <td>{{ allFa.fa_phone }}</td>
                        <td>{{ allFa.fa_address }}</td>
                        <td>{{ allFa.fa_email }}</td>
                        <td>{{ allFa.fa_password }}</td>
                        <td>{{ allFa.fa_nid_no }}</td>
                        <td>{{ allFa.fa_farmer_under_obs }}</td>
                   </tr>
                   {% endfor %}

                    </tbody>

                </table>
            </div>
                                       
        </div>
</div>
   
{% endblock %}