<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Fosholi-1</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#">Fosholi-1</a><button class="navbar-toggler"
                data-toggle="collapse" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="Home.html">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="Agent.html">Survey</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="Survey.html">Field agent</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="dash-block">

            <h2 class="text-center my-4">Field agents</h2>

            <div class="container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Agent id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Adress</th>
                            <th scope="col">Email</th>
                            <th scope="col">NID</th>
                            <th scope="col">Password</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1102</th>
                            <td>Monir</td>
                            <td>0174149123</td>
                            <td>Kotowali,Narayanganj</td>
                            <td>monir@fosholi.gov.bd</td>
                            <td>12124143213</td>
                            <td>monir983</td>
                            <td><button class="btn btn-warning btn-sm">Edit</button><button
                                    class="btn btn-danger btn-sm">Delete</button</td> </tr> <tr>
                            <th>1102</th>
                            <td>Monir</td>
                            <td>0174149123</td>
                            <td>Kotowali,Narayanganj</td>
                            <td>monir@fosholi.gov.bd</td>
                            <td>12124143213</td>
                            <td>monir983</td>
                            <td><button class="btn btn-warning btn-sm">Edit</button><button
                                    class="btn btn-danger btn-sm">Delete</button</td> </tr> <tr>
                            <th>1102</th>
                            <td>Monir</td>
                            <td>0174149123</td>
                            <td>Kotowali,Narayanganj</td>
                            <td>monir@fosholi.gov.bd</td>
                            <td>12124143213</td>
                            <td>monir983</td>
                            <td><button class="btn btn-warning btn-sm">Edit</button><button
                                    class="btn btn-danger btn-sm">Delete</button</td> </tr> <tr>
                            <th>1102</th>
                            <td>Monir</td>
                            <td>0174149123</td>
                            <td>Kotowali,Narayanganj</td>
                            <td>monir@fosholi.gov.bd</td>
                            <td>12124143213</td>
                            <td>monir983</td>
                            <td><button class="btn btn-warning btn-sm">Edit</button><button
                                    class="btn btn-danger btn-sm">Delete</button</td> </tr> <tr>
                            <th>1102</th>
                            <td>Monir</td>
                            <td>0174149123</td>
                            <td>Kotowali,Narayanganj</td>
                            <td>monir@fosholi.gov.bd</td>
                            <td>12124143213</td>
                            <td>monir983</td>
                            <td><button class="btn btn-warning btn-sm">Edit</button><button
                                    class="btn btn-danger btn-sm">Delete</button</td> </tr> <tr>
                            <th>1102</th>
                            <td>Monir</td>
                            <td>0174149123</td>
                            <td>Kotowali,Narayanganj</td>
                            <td>monir@fosholi.gov.bd</td>
                            <td>12124143213</td>
                            <td>monir983</td>
                            <td><button class="btn btn-warning btn-sm">Edit</button><button
                                    class="btn btn-danger btn-sm">Delete</button</td> </tr> 
                                
                    </tbody> 
                
                </table> 
            </div>
                                       
        </div>

        <div class="dash-block mt-4">
            <h3 class="text-center my-3 ">Create new agent id</h3>
            <div class="collapse" id="collapseExample">
              <form action="">
                  <div class="row mt-5">
                    <div class="col-md-6">
                            <h3>Agent personal details</h3>
                            
                                    <div class="form-group"><label for="name">Agent name</label><input class="form-control item" type="text" id="name"></div>
                                    <div class="form-group"><label for="subject">Phone no</label><input class="form-control item" type="text" id="subject"></div>
                                    <div class="form-group"><label for="subject">Address</label><input class="form-control item" type="text" id="subject"></div> 
                                    <div class="form-group"><label for="subject">Email</label><input class="form-control item" type="text" id="subject"></div>
                                    <div class="form-group"><label for="subject">Nid</label><input class="form-control item" type="text" id="subject"></div>
                                    </div>
                        <div class="col-md-6">
                            <h3>Agent account details</h3>
                            
                            <div class="form-group"><label for="name">Agent id</label><input class="form-control item" type="text" id="name"></div>
                            <div class="form-group"><label for="name">Agent password</label><input class="form-control item" type="text" id="name"></div>
                            <div class="form-group"><label for="name">Agent email</label><input class="form-control item" type="text" id="name"></div>
                            <div class="form-group"><button class="btn btn-success btn-block btn-lg mx-auto" type="submit">Submit</button></div>
                            </div>
                    </div>
                </div>

              </form>
            <button class="btn btn-info" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Create account</button>
        </div>
    </div>
   


          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
          <script src="assets/js/theme.js"></script>
    </body>
    </html>